NEXT_PUBLIC_SITE_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://dfbsc:JaiMarie1022@ddd.hvvhbbq.mongodb.net/?appName=DDD
JWT_SECRET=free2217
ADMIN_EMAIL=drewfreebey@gmail.com
ADMIN_PASSWORD=free0706
RESEND_API_KEY=
RESEND_FROM=Divine Design and Decor <hello@yourdomain.com>
ADMIN_NOTIFICATION_EMAIL=drewfreebey@gmail.com
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/divinedesigndecor
